*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    width: 100%;
    margin-bottom: 25px;
}
.warp{
    border-style: dashed;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 10px;
}
.card{
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.hello{
    border-style: none;
    background-color: #a3e7e7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    transition: all 0.2s;
}
.hello.active{
    background-color: #46bfcf;
}
.hello:hover{
    transform: scale(1.2);
}
.addCard{
    border-style: none;
    background-color: #a3e7e7;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    transition: all 0.2s;
}
.addCard:active{
    background-color: #46bfcf;
}
.addCard:hover{
    transform: scale(1.2);
}
#cardContainer{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.selfCard{
    background-color: #fff;
    box-shadow: 0 8px 12px rgba(0,0,0,0.12);
    width: 30%;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}