*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fafafa;
    justify-content: center;
    text-align: center;
    display: flex;
    font-family: system-ui, -apple-system;
}

h1{
    margin-top: 70px;
}

.warp{
    width: 460px;
}
.input {
    margin-top: 3ch;
}
.input input{
    height: 40px;
    width: 270px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border: 2px solid transparent;
    padding: 8px;
    outline: none;
    transition: all 0.25s ease;
}

input:focus{
    border-color: rgba(7, 95, 110, 0.295);
    cursor: pointer;
}

#btn {
    background-color: rgb(106, 165, 255);
    height: 40px;
    width: 50px;
    border: none;
    color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    transition: all 0.25s ease;
}
#btn:hover{
    background-color: rgb(67, 138, 245);
}

#btn:active{
    background-color: rgb(35, 85, 161);
}

#list {
    margin-top: 3ch;
}

#list li {
    background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    padding: 12px;
}